@import url(https://fonts.googleapis.com/css?family=Raleway:900,400,200);

* {
    font-family: 'Raleway', sans-serif;
    color: #001a72;
}

.navbar-default {
    height: 70px;
    margin: 0;
    vertical-align: middle;
    background-color: #ffffff;
}

.navbar-default .container div {
    margin-top: 10px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited {
    font-size: 30px;
    font-weight: 200;
    color: #001a72;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #001a72;
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

div#menu.navbar-collapse.collapse, div#menu.navbar-collapse.collapse.in {
    background-color: #ffffff;
}

.nav-pills a {
    color: #001a72;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #001a72;
    color: #ffffff;
}

.page-header p {
    font-size: 24px;
    font-weight: 200;
    color: #ffffff;
}

.page-header.main-page {
    height: 570px;
    margin: 0;
    padding: 210px 20px 0 20px;
    text-align: center;
    background: url("../images/header_570px.jpg") top center no-repeat;
}

.page-header.main-page h1 {
    font-size: 80px;
    font-weight: 900;
    color: #ffffff;
}

.page-header.other-page {
    height: 220px;
    margin: 0;
    padding: 130px 20px 0 20px;
    text-align: center;
    background: url("../images/header_220px.jpg") top center no-repeat;
}

.container h1 {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
}

.footer .container p {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

.table-bordered thead tr th {
    color: #ffffff;
    font-weight: 400;
    border: 0;
    background-color: #001a72;
}

#cars-tbody td {
    text-align: right;
}

#cars-tbody td:first-child {
    text-align: left;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}