<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Semestral project for subject BI-VWM (Searching Web and Multimedia Databases). The application implements Fagin top(k) algorithm.">
    <meta name="author" content="Martin Vondrak, Michal Pech">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>{% block title %}Vítejte!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "menu.html.twig" %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>