{% extends "base.html.twig" %}
{% block title %}HELLO WORLD!{% endblock %}

{% block body %}
    <div class="page-header main-page">
        <h1>Autosalon M&M</h1>
        <p>Semestrální projekt z předmětu VWM</p>
    </div>
    <div class="container">
        <h1>HELLO WORLD!</h1>
        <p>Ahoj ja jsem smajlik ze Symfony.</p>
    </div>

{% endblock %}