{% extends "base.html.twig" %}
{% block title %}HELLO WORLD!{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <div class="container">
        <h1>HELLO WORLD!</h1>
        <p>Ahoj ja jsem smajlik ze Symfony.</p>
    </div>

{% endblock %}