{% block body %}

    <nav class="navbar navbar-default">
        <div class="container" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Autosalon M&M</a>
            </div>
            <ul class="nav nav-pills navbar-right">
                <li role="presentation" class="active"><a href="#">Domu</a></li>
                <li role="presentation"><a href="#">Vyhledat</a></li>
                <li role="presentation"><a href="#">Vložit automobil</a></li>
                <li role="presentation"><a href="#">O projektu</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}