<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Semestral project for subject BI-VWM (Searching Web and Multimedia Databases). The application implements Fagin top(k) algorithm.">
    <meta name="author" content="Martin Vondrak, Michal Pech">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../src/Resources/css/custom.css">
    <script src="../../../vendor/components/jquery/jquery.js"></script>
    <script src="../../../vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
    <title>{% block title %}Vítejte!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include "layout/menu.html.twig" %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% include "layout/footer.html.twig" %}
</body>
</html>