{% extends "base.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>O projektu</h1>
        <p>TBA</p>
    </div>

{% endblock %}