{% extends "base.html.twig" %}
{% block title %}{{ error }}{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>{{ error }}</h1>
    </div>

{% endblock %}