{% extends "base.html.twig" %}
{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="page-header main-page">
        <h1>Autosalon M&M</h1>
        <p>Semestrální projekt z předmětu VWM</p>
    </div>
    <div class="container">
        <h1>Vítejte</h1>
        <p>Vítejte na stránce věnované Faginovu vyhledávajícímu algoritmu.<br />
           Tento projekt byl realizován v rámci předmětu VWM na Fakultě informačních technologíí ČVUT.<br />
           Autoři projektu jsou Martin Vondrák a Michal Pěch.</p>
    </div>

{% endblock %}