{% extends "base.html.twig" %}
{% block title %}Vyhledat{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>Vyhledat</h1>
        <p>FAGIN vyhledavani.</p>

        <form role="form" method="post" id="fagin-form" action="/test/">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="algorithm">Algoritmus</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="fagin">Fagin
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="seq">Sekvenční
                        </label>
                        <span id="algorithmError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="agregation">Agregační funkce</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="min">Min
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="max">Max
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="average">Průměr
                        </label>
                        <span id="agregationError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="params">Parametry</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="checkbox-inline" for="volume">
                            <input class="param-checkbox" type="checkbox" value="volume">Obsah
                        </label>
                        <label class="checkbox-inline" for="power">
                            <input class="param-checkbox" type="checkbox" value="power">Výkon
                        </label>
                        <label class="checkbox-inline" for="mileage">
                            <input class="param-checkbox" type="checkbox" value="mileage">Tachometr
                        </label>
                        <label class="checkbox-inline" for="manufacture_year">
                            <input class="param-checkbox" type="checkbox" value="manufacture_year">Rok výroby
                        </label>
                        <label class="checkbox-inline" for="top_speed">
                            <input class="param-checkbox" type="checkbox" value="top_speed">Max. rychlost
                        </label>
                        <label class="checkbox-inline" for="acceleration">
                            <input class="param-checkbox" type="checkbox" value="acceleration">Zrychlení
                        </label>
                        <label class="checkbox-inline" for="price">
                            <input class="param-checkbox" type="checkbox" value="price">Cena
                        </label>
                        <input class="params" type="hidden" name="params">
                        <span id="paramError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="top_k">Top K</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="top_k" type="text" class="form-control" name="top_k" placeholder="Top k">
                        <span id="top_kError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="send-form" class="btn btn-default"><span id="glyph-loading"></span>Vyhledat
                        </button>
                    </div>
                </div>
            </div>
        </form>


    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function(){

            /**
             * Funkce pridava hodnotu zakrtnuteho checkboxu do jedne promenne params
             */
            function addParam() {
                var param = $.map($("input:checkbox:checked.param-checkbox"), function(e) {
                    //console.log(e.value);
                    return e.value;
                });
                console.log(param);
                $(".params").val(param);
                console.log($(".params").val());
            }

            $(".col-sm-10").delegate("input:checkbox","click",addParam);

        });
    </script>
{% endblock %}
