{% extends "base.html.twig" %}
{% block title %}Vyhledat{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>Vyhledat</h1>
        <p>FAGIN vyhledavani.</p>

        <form role="form" method="post" id="fagin-form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="algorithm">Algoritmus</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="fagin">Fagin
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="seq">Sekvenční
                        </label>
                        <span id="algorithmError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="agregation">Agregační funkce</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="min">Min
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="max">Max
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="average">Průměr
                        </label>
                        <span id="agregationError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="params">Parametry</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="checkbox-inline" for="volume">
                            <input class="param-checkbox" type="checkbox" value="Car::VOLUME">Obsah
                        </label>
                        <label class="checkbox-inline" for="power">
                            <input class="param-checkbox" type="checkbox" value="Car::POWER">Výkon
                        </label>
                        <label class="checkbox-inline" for="mileage">
                            <input class="param-checkbox" type="checkbox" value="Car::MILEAGE">Tachometr
                        </label>
                        <label class="checkbox-inline" for="manufacture_year">
                            <input class="param-checkbox" type="checkbox" value="Car::MANUFACTURE_YEAR">Rok výroby
                        </label>
                        <label class="checkbox-inline" for="top_speed">
                            <input class="param-checkbox" type="checkbox" value="Car::TOP_SPEED">Max. rychlost
                        </label>
                        <label class="checkbox-inline" for="acceleration">
                            <input class="param-checkbox" type="checkbox" value="Car::ACCELERATION">Zrychlení
                        </label>
                        <label class="checkbox-inline" for="price">
                            <input class="param-checkbox" type="checkbox" value="Car::PRICE">Cena
                        </label>
                        <input class="params" type="hidden" name="params">
                        <span id="paramError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="top_k">Top K</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="top_k" type="text" class="form-control" name="top_k" placeholder="Top k">
                        <span id="top_kError" class="form-error"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="send-form" class="btn btn-default"><span id="glyph-loading"></span>Vyhledat
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div id="result-table">

            <h1 id="result">Výsledky</h1>
            <div id="alert" role="alert" class="alert alert-info"></div>

            <div class="table-responsive">
                <table class="table table-bordered" id="cars-table">
                    <thead>
                    <tr>
                        <th>Název</th>
                        <th>Obsah</th>
                        <th>Výkon</th>
                        <th>Tachometr</th>
                        <th>Rok výroby</th>
                        <th>Max. rychlost</th>
                        <th>Zrychlení</th>
                        <th>Cena</th>
                    </tr>
                    </thead>
                    <tbody id="cars-tbody">
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {

            /**
             * Funkce pridava hodnotu zakrtnuteho checkboxu do jedne promenne params
             */
            function addParam() {
                var param = $.map($("input:checkbox:checked.param-checkbox"), function(e) {
                    //console.log(e.value);
                    return e.value;
                });
                $(".params").val(param);
                //console.log($("#params").val());
            }

            $(".col-sm-10").delegate("input:checkbox","click",addParam);


            /**
             * Zvaliduje formular
             */
            function validateForm(event) {

                event.preventDefault();

                $("#fagin-form").validate({
                    errorPlacement: function(error, element) {
                        if (element.attr("name") == "algorithm") {
                            error.appendTo($("#algorithmError"));
                        }
                        if (element.attr("name") == "agregation") {
                            error.appendTo($("#agregationError"));
                        }
                        if (element.attr("name") == "top_k") {
                            error.appendTo($("#top_kError"));
                        }
                        if (element.attr("name") == "params") {
                            error.appendTo($("#paramError"));
                        }
                    },
                    ignore:"",
                    rules: {
                        algorithm: {
                            required: true
                        },
                        agregation: {
                            required: true
                        },
                        top_k: {
                            required: true,
                            digits: true
                        },
                        params: {
                            required: true,
                            minlength: 1
                        }
                    },
                    messages: {
                        algorithm: "* vyberte typ algoritmu",
                        agregation: "* vyberte agregacni funkci",
                        top_k: {
                            required: "* vyplnte pocet top_k vysledku",
                            digits: "* musi byt cislo"
                        },
                        params: "* vyberte alespon jeden parametr"
                    },
                    submitHandler: function () {
                        getData();
                    }
                });
            }

            $("#fagin-form").submit(validateForm(event));

            /**
             * Funkce pro obsluhu AJAX pozadavku
             */
            function getData() {

                $("#send-form").html("<span id='glyph-loading'></span> Vyhledávám...").addClass("disabled");
                $("#glyph-loading").addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
                $("#cars-tbody").empty();
                $("#alert").hide();

                var startTime = new Date().getTime();

                var carsToInput = '';

                $.when(
                        $.ajax({
                            type: "POST",
                            url: "/api/get-all-cars/",
                            dataType: "json",
                            data: $("#fagin-form").serialize(),
                            success: function (data) {
                                $.each(data, function (index, car) {
                                    carsToInput += "<tr>";
                                    carsToInput += "<td><a href='/car/" + car.id + "/'>" + car.name + "</a></td>";
                                    carsToInput += "<td>" + thousandSeparator(car.volume) + " ccm</td>";
                                    carsToInput += "<td>" + car.power + " kW</td>";
                                    carsToInput += "<td>" + thousandSeparator(car.mileage) + " km</td>";
                                    carsToInput += "<td>" + car.manufacture_year + "</td>";
                                    carsToInput += "<td>" + car.top_speed + " km/h</td>";
                                    carsToInput += "<td>" + car.acceleration + " s</td>";
                                    carsToInput += "<td>" + thousandSeparator(car.price) + " Kč</td>";
                                    carsToInput += "</tr>";
                                })

                            }
                        })
                ).done(function () {
                    console.log($("#fagin-form").serialize());
                    var endTime = new Date().getTime() - startTime;
                    $("#cars-tbody").append($(carsToInput));
                    $("#alert").text("Načteno za " + endTime + " milisekund.").show();
                    $("#send-form").html("<span id='glyph-loading'></span>Vyhledat").removeClass("disabled");
                    $("#result-table").show();
                    $("html, body").animate({scrollTop: $("#result").offset().top - 80}, 1000);
                });


            };

            function thousandSeparator(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }
        });
    </script>
{% endblock %}