{% extends "base.html.twig" %}
{% block title %}Vyhledat{% endblock %}

{% block body %}
    {% include "layout/header.html.twig" %}

    <div class="container">
        <h1>Vyhledat</h1>
        <p>FAGIN vyhledavani.</p>

        <form role="form" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Algoritmus</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="fagin">Fagin
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="algorithm" value="seq">Sekvenční
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Agregační funkce</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="min">Min
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="max">Max
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="agregation" value="average">Průměr
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Parametry</label>
                    </div>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="volume" value="true">Obsah
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="power" value="true">Výkon
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="mileage" value="true">Tachometr
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="manufacture_year" value="true">Rok výroby
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="top_speed" value="true">Max. rychlost
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="acceleration" value="true">Zrychlení
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="price" value="true">Cena
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Top K</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="top_k" placeholder="Top k">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="send-form" class="btn btn-default"><span id="glyph-loading"></span>Vyhledat</button>
                    </div>
                </div>
            </div>
        </form>

        <div id="result-table">

            <h1 id="result">Výsledky</h1>
            <div id="alert" role="alert"></div>

            <div class="table-responsive">
                <table class="table table-bordered" id="cars-table">
                    <thead>
                    <tr>
                        <th>Název</th><th>Obsah</th><th>Výkon</th><th>Tachometr</th><th>Rok výroby</th>
                        <th>Max. rychlost</th><th>Zrychlení</th><th>Cena</th>
                    </tr>
                    </thead>
                    <tbody id="cars-tbody">
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {

            $("#send-form").click(getData);

            function getData() {
                $("#send-form").html("<span id='glyph-loading'></span> Vyhledávám...").addClass("disabled");
                $("#glyph-loading").addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
                $("#cars-tbody").empty();

                var startTime = new Date().getTime();

                var carsToInput = '';
                $.getJSON("/api/get-all-cars/").done(function(data) {
                    $.each(data,function(index,car){
                        carsToInput += "<tr>";
                        carsToInput += "<td><a href='/car/" + car.id + "/'>" + car.name + "</a></td>";
                        carsToInput += "<td>" + thousandSeparator(car.volume) + " ccm</td>";
                        carsToInput += "<td>" + car.power + " kW</td>";
                        carsToInput += "<td>" + thousandSeparator(car.mileage) + " km</td>";
                        carsToInput += "<td>" + car.manufacture_year + "</td>";
                        carsToInput += "<td>" + car.top_speed + " km/h</td>";
                        carsToInput += "<td>" + car.acceleration + " s</td>";
                        carsToInput += "<td>" + thousandSeparator(car.price) + " Kč</td>";
                        carsToInput += "</tr>";
                });

                var endTime = new Date().getTime() - startTime;

                $("#cars-tbody").append($(carsToInput));
                $("#alert").addClass("alert alert-info").text("Načteno za " + endTime + " milisekund.")
                $("#send-form").html("<span id='glyph-loading'></span>Vyhledat").removeClass("disabled");
                $("#result-table").show();
                $("html, body").animate({scrollTop: $("#result").offset().top - 80}, 1000);

            });
        };

            function thousandSeparator(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }
        });
    </script>
{% endblock %}